<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/polymer/lib/elements/dom-repeat.html">

<dom-module id="gestor-clientes">
 <template>
   <style>
     :host {
       display: block;
     }
   </style>
   <div class="container">
     <div class="row">
       <h1>Gestor de clientes</h1>
       <button on-click="obtenerClientes" class="btn btn-success" type="button" name="button">Obtener clientes</button>
       <button on-click="agregarClientes" class="btn btn-info" type="button" name="button">Registrar clientes</button>
     </div>
     <div class="row">
       <table>
         <tbody>
           <template is="dom-repeat" items="{{clientes}}">
             <tr>
               <td>
                 [[item.CustomerID]]
               </td>
               <td>
                 [[item.ContactName]]
               </td>
               <td>
                 [[item.CompanyName]]
               </td>
             </tr>
           </template>
         </tbody>
       </table>
     </div>
   </div>
 </template>

 <script>
   /**
    * @customElement
    * @polymer
    */
   class GestorClientes extends Polymer.Element {
     static get is() { return 'gestor-clientes'; }
     static get properties() {
       return {
         clientes: {
           type: Array,
           notify: true
         }
       }
     }
     incrementar() {
       this.prop2 = this.prop2 + 1;
       console.log("prop2: " + this.prop2);
       console.log("prop1: " + this.prop1);
       //this.prop2 += 1;
     }
     obtenerClientes() {
       var request = new XMLHttpRequest();
       var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
       request.open("GET", url, false);
       request.setRequestHeader("Accept", "application/json");
       request.send();
       this.clientes = JSON.parse(request.responseText).value;
       //console.table(JSON.parse(request.responseText).value);
       console.table(this.clientes);
     }
     agregarClientes() {
       var request = new XMLHttpRequest();
       var url = "https://services.odata.org/V4/Northwind/Northwind.svc/Customers";
       request.open("POST", url, false);
       request.setRequestHeader("Accept", "application/json");
       request.setRequestHeader("Content-Type", "application/json");
       var nuevoCliente ={"CustomerID": 1234,"ContactName": "Pepe","CompanyName": "Pepes Bar"};
       var body = JSON.stringify(nuevoCliente);
       request.send(body);
       this.respuesta = request.responseText;
       console.log(this.respuesta);
     }
   }

   window.customElements.define(GestorClientes.is, GestorClientes);
 </script>
</dom-module>
